html {
  scroll-behavior: smooth;
}

.Holder {
  position: relative;
  background: linear-gradient(rgba(36, 27, 2, 0.998), rgba(79, 67, 33, 0.7)),
    url("/src/Utilities/Background2.jpg");
  color: #dfd5c2;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}
h2 {
  position: absolute;
  top: 5%;
  font-weight: bolder;
  margin-left: 10%;
  font-family: "Source Sans Pro", sans-serif;
}
#lines {
  margin-left: 10%;
  font-weight: bold;
  font-family: "Sofia Sans Semi Condensed", sans-serif;
}
/* #author {
  position: fixed;
  bottom: 0;
  right: 2%;
  width: 20%;
  height: 50%;
  background-color: transparent;
  box-shadow: 2px -2px 20px inset #0000008f;
} */

.icon1 {
  position: absolute;
  left: 10%;
  top: 19%;
  height: 5%;
  margin-top: 1.4%;
}
.icon2 {
  position: absolute;
  left: 14%;
  top: 19%;
  height: 5%;
  margin-top: 1.4%;
}

.moreBy {
  position: absolute;
  left: 20%;
  top: 21.5%;
  height: 5%;
  width: fit-content;
  background-color: #dfd5c2;
  margin-top: 0.1%;
}

.moreBy:hover {
  background-color: bisque;
}

.icon1:hover {
  color: red;
  font-size: larger;
}

.red {
  color: red;
}

.lines {
  top: 21%;
}

.nameDisp {
  position: absolute;
  top: 15%;
  font-weight: 100;
  margin-left: 10%;
  font-size: small;
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif */
}

.toBottom {
  text-decoration: none;
  text-transform: none;
  color: #000000;
  font-size: small;
  font-weight: 100;
  font-family: "Sofia Sans Semi Condensed", sans-serif;
}

.toBottom:hover {
  text-decoration: none;
  color: #000000;
}

#theMore {
  top: 50px;
}

#Reference {
  color: #dfd5c2;
  font-family: "Alegreya Sans", sans-serif;
  top: 2%;
  font-size: 28px;
}

@media (min-width: 1380px) {
  #lines {
    margin-left: 12%;
  }
}
@media (min-width: 1590px) {
  #lines {
    margin-left: 13%;
  }
}
@media (max-width: 880px) {
  .sizeChange {
    font-size: 25px;
  }
}
