body {
  background-color: #201f1f;
  width: 100%;
}

.specBox {
  border-radius: 5%;
}
img {
  max-width: 250px;
  border-radius: 10%;
}

.star-icon {
  position: relative;
  top: 8%;
  left: -5%;
  color: #fad897c2;
}
