navBar {
  margin: auto;
}

form {
  border: red;
}

.containerDiv {
  border-radius: 20px;
  box-shadow: -2px 2px 3px rgb(#fad897);
  background-color: #201f1f;
}

.form-control {
  border-radius: 20px;
  background-color: transparent;
  color: rgb(234, 233, 225);
}

.form-control:focus {
  background-color: transparent;
  border-color: none;
  box-shadow: none;
  outline: none;
  color: rgb(234, 233, 225);
}

button {
  padding: 0.6%;
  border-radius: 20px;
  background-image: linear-gradient(#774c0e, #322d2d);
  color: rgb(234, 233, 225);
}

input {
  background-color: #000000eb;
}
